streamlit
python-dotenv
numpy==1.26.4
spacy<3.8 
thinc<9
textdescriptives<3.0
joblib
scikit-learn
openai
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

